article {
    margin: 6px;
    height: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

figure {
    display: inline-block;
    text-align: right;
}

figcaption {
    padding: 4px;
}

.fig-cap {
    color: $muted;
}

.fa {
    padding-left: 4px;
    color: $muted;
}

.fa-heart {
    color: $heart;
}

.content {
    width: 0px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.6s;
}

.show {
    width: 200px;
    padding: 6px;
}