@import "normalise";
@import "colors";
@import "cards";


header {
    width: 100%;
    border-bottom: 1px solid lighten($shadow, 40);
}

.container {
    padding: 14px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

input {
        width: 280px;
        border: none;
        font-size: 1.2rem;
        background-color: white;
        border: 1px solid $shadow;
        padding: 4px;
        margin: 0 8px;
}

.likes {
    flex-grow: 2;
    text-align: right;
}
.wrapper {
    display: grid;
    grid-template-columns: 45% auto;
}

#map {
    height: calc(100vh - 60px);
}

main {
    height: calc(100vh - 60px);
    padding: 20px 20px 40px;
    overflow: scroll;
    box-sizing: border-box;
}

.thumb {
    width: 180px;
}

.data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.marker-thumb {
    width: 100px;
    height: auto;
}

.fa-map-marker {
    color: $heart;
}