@import "normalise";
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
      
}

#map {
    height: 100vh;
}

main {
    height: 100vh;
    overflow: scroll;
}

.thumb {
    width: 180px;
}

.data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    padding: 10px;
}

article {
    margin: 10px;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
      
}

figure {
    display: inline-block;
}

.content {
    width: 180px;
    display: inline-block;
}